.top {
  top: 0;
  transform: translate3d(0, 0, 0);
}
.bottom {
  bottom: 0;
  transform: translate3d(0, 0, 0);
}
.slide-enter .top {
  transition: all 0.3s;
  transform: translate3d(0, -100%, 0);
}
.slide-enter .bottom {
  transition: all 0.3s;
  transform: translate3d(0, 100%, 0);
}

.slide-enter.slide-enter-active .top,
.slide-enter.slide-enter-active .bottom {
  transform: translate3d(0, 0, 0);
}
.slide-leave .top, .slide-leave .bottom {
  transform: translate3d(0, 0, 0);
  transition: all 0.3s;
}

.slide-leave.slide-leave-active .top {
  transform: translate3d(0, -100%, 0);
}
.slide-leave.slide-leave-active .bottom {
  transform: translate3d(0, 100%, 0);
}
