.top {
  top: 0;
  transform: translate3d(0, 0, 0);
}
.bottom {
  bottom: 0;
  transform: translate3d(0, 0, 0);
}
.slide-enter .top {
  transition: all 0.3s;
  transform: translate3d(0, -100%, 0);
}
.slide-enter .bottom {
  transition: all 0.3s;
  transform: translate3d(0, 100%, 0);
}

.slide-enter.slide-enter-active .top,
.slide-enter.slide-enter-active .bottom {
  transform: translate3d(0, 0, 0);
}
.slide-leave .top, .slide-leave .bottom {
  transform: translate3d(0, 0, 0);
  transition: all 0.3s;
}

.slide-leave.slide-leave-active .top {
  transform: translate3d(0, -100%, 0);
}
.slide-leave.slide-leave-active .bottom {
  transform: translate3d(0, 100%, 0);
}

.list-box {
  width: 80%;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  overflow-y: scroll;
  z-index: 100;
  transform: translate3d(0, 0, 0);
}
.mask {
  width: 100%;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  overflow: hidden;
  z-index: 99;
  background-color: rgba(0, 0, 0, .6);
  opacity: 1;
}
.slide-enter.list-box {
  transform: translate3d(100%, 0, 0);
}
.slide-enter.mask {
  opacity: 0;
}

.slide-enter.slide-enter-active.list-box {
  transition: all 0.3s;
  transform: translate3d(0, 0, 0);
}
.slide-enter-active.mask {
  transition: all 0.3s;
  opacity: 1;
}
.slide-leave.list-box, .slide-leave.mask {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: all 0.3s;
}

.slide-leave.slide-leave-active.list-box {
  transform: translate3d(100%, 0, 0);
}
.slide-leave.slide-leave-active.mask {
  opacity: 0;
}
